* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:linear-gradient(45deg,#48D1CC, PeachPuff, #7B68EE);
  background-size:400% 400%;
  display:flex; 
  justify-content: center;
  align-items:center;
  animation:change 10s infinite;
}

@keyframes change{
  0%{
    background-position: 0% 50%;
  }
    50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.contactInfo{
  margin-top:20px;
}

.contactInfo ul{
  list-style:none;
  margin-top:20px;
}
.contactInfo ul li{
  margin-top:10px;
}

.contactInfo ul li .icon{
  color:DarkSlateBlue;
}

.skills .box .percent{
  position: relative;
  width:100%;
  height:10px;
  background:#f0f0f0;
}

.skills .box .percent span{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  background:DarkSlateBlue;
}


.container{
  position:relative;
  width:80%;
  margin:20px;
  display:grid;
  grid-gap:20px;
  margin-bottom:30px;
  grid-template-rows:1fr auto;
  grid-template-columns: 1fr 2fr;
   grid-template-areas:
     "me work"
     "me edu"
     "foot foot"
}

.container .left_side{
  grid-area: me;
  position:relative;
  background:lightblue;
  padding: 40px;
  border-top-left-radius:5%;
  border-bottom-left-radius:5%
}

.first{
  row-gap: 1em;
}

 .photo img{
  width:250px;
  height:250px;
  overflow:hidden;
}

.photo h2{
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.profileText{
  position:relative;
  display:flex;
  align-items:center;
  border-bottom:1px solid white;
  flex-direction:column;
}

.profileText .photo{
  position:relative;
}

.container .first{
  grid-area: work;
  position:relative;
  background:white;
  padding: 40px;
  border-top-right-radius:5%;
}
.description {
  list-style-position: inside;
  padding-left: 20px;
  line-height: 26pt;
}

.date{
  margin-top: 30px;
  margin-left:10px;
  color:DarkSlateBlue;
  font-size:small;
}

.left_side .profileText h2{
  position:relative;
  margin-top:-30px;
}
.left_side .profileText h3{
  color: 	#282828;
  font-size:small;
}
.left_side .profileText i{
  color:DarkSlateBlue;
}

.title{
  margin-top:18px;
  margin-left:10px;
}
 .title span {
  color:DarkSlateBlue;
}

.container .second{
  grid-area: edu;
  position:relative;
  background:white;
  padding: 40px;
  border-bottom-right-radius:5%;
}

.first h2 i, .second h2 i{
  color:DarkSlateBlue;
}

footer{
  background:lightblue;
  position: fixed;
  flex-direction:column;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  float:none;
}
footer ul{
  display:flex;
  list-style:none;
  flex-direction:row;
  column-gap:10px;
  justify-content:center;
}

 footer i:hover  {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transform: scale(1.5);
  }

.skills{
  margin-top:30px;
}
.skills .skill_type{
    margin-top:20px;
  text-decoration:underline;
}
.skills .skill_type:nth-child(3){
  margin-top:25px;
}
.box{
  margin-top:10px;
}

h3 i{
  color:DarkSlateBlue;
}

@media screen and (max-device-width : 480px) {
  .container{
    display:flex;
    flex-direction:column;
    }

  *{
    border-radius:0%;
  }

}
  
